<div class="form-group">
    <label for="name">Name</label>
    <input value="<%= song.name %>" type="text" name="name" id="name" class="form-control">
</div>
<div class="form-group">
    <label for="duration">Duration</label>
    <input value="<%= song.duration %>" type="text" name="duration" id="duration" class="form-control">
</div>
<div class="form-group">
    <label for="genres">genres</label>
    <input value="<%= song.genres %>" type="text" name="genres" id="genres" class="form-control">
</div>
<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>