<div class="form-group">
    <label for="email">Email</label>
    <input value="<%= user.email %>" type="text" name="email" id="email" class="form-control">
</div>
<div class="form-group">
    <label for="password">Password</label>
    <input value="<%= user.password %>" type="passwordtext" name="password" id="password" class="form-control">
</div>

<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Log in</button>